* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-outline: 0;
	font-family: Roboto, sans-serif, arial;
}

html,body {
	font-size: 14px;
	font-weight: 400;
	background: #000000;
	color: #fff;
	height: 600px;
}
.container {
	width: 900px;
	margin: 0px auto;
	display: table;
	height: 200px;
    
}
.width-33 {
	width: 33%;
	float: left;
}
.width-66 {
	width: 66%;
	float: left;
	position: sticky;
}
.main-panel {
	width: 100%;
	float: left;
	padding-top: 20px;
	padding-bottom: 50px;
	height: 200px;

}

.logo {
	font-size: 40px;
	font-weight: 600;
}

.span-col {
	color: #ffbf35;
}

nav {
	float: right;
	position: sticky;
}

nav a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 500;
	margin-left: 20px;
	color: white;
}

#dow{
	background-color: #ffbf35;
	height: 50px;
	width: 220px;
	border-radius: 10px;
}
.width-50 {
	float: left;
	width: 50%;
	height: 100px;
	margin-bottom: 10px;
}
.banner-section {
	width: 100%;
	float:right;
	margin-top: 20vh;
}
.banner-section h1 {
	font-size: 48px;
	margin-top: 10px;
	font-weight: bolder;
}
.banner-section h2 {
	font-size: 20px;
	line-height: 25px;
	margin-top: 10px;
	font-weight: 400;
}
.banner-section a {
	float: left;
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid #ffbf35;
	color: #ffbf35;
	margin-left: 10px;
	height: 30px;
	width: 50px;
	line-height: 50px;
}
/*****Main BANNER IMAGE*****/
.main-panel img {
	margin-top: 10px;
	width: 100%;
	margin-left: 10%;
}
.contact form {
	width: 66%;
	margin: 0px auto;
}
.contact input,
textarea {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	border: 1px solid #a1a1a1;
}
.contact textarea {
	height: 80px;
}
.contact button {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	background: #ffbf35;
	color: #fff;
	border: none;
	font-size: 16px;
}
.contact h3 {
	font-size: 26px;
	text-align: center;
	margin-top: 60px;
	color: #ffbf35;
}
.contact h4 {
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}
.contact p {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
